header img
{
    width : 300px;
    height : 300px;
    object-fit : cover;
    border : 10px solid whitesmoke;
}

.navbar-brand
{
    font-family: "Mountains of Christmas";
    font-weight: bold;
    font-size: larger;
}

.bg-primary
{
    background-color: rgb(79, 79, 153) !important; 
}

h1, h2, .navbar-brand
{
    font-family: "Mountains of Christmas", Arial, Helvetica, sans-serif;
}

h2
{    
    color: rgb(67, 67, 141);
}

main
{
    text-align: justify;
}

main p
{
    font-family: "Mulish", Arial, Helvetica, sans-serif;
}

.creepy font
{
    font-family: "Mountains of Christmas";

}

.subtitle
{
    text-align: right;
    font-size: smaller;
    font-style: italic;
    color: rgb(79, 79, 153);
}

footer
{
    background-color: rgb(79, 79, 153);
    text-align: right;
    padding: 20px;
    margin-top: 10px;
}

footer p
{
    color: silver;
    margin: 0;
    font-size: smaller;
    font-family: "Mulish", Arial, Helvetica, sans-serif;
}
